/*CSS For Fake Google*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*************************************************
                    BUTTONS
*************************************************/
.btn-blue {
    display: inline-block;
    background: #4683EA;
    padding: 7px;
}

a.btn-default {
    padding: 10px 25px;
    background: #EEE;
    color: #555;
    text-align: center;
    border: solid 1px #EEE;
    border-radius: 5px;
}

a.btn-default:hover {
    cursor: pointer;
    border-color: #CCC;
    background: #F5F5F5;
    color: #111;
}

/*************************************************
                    HEADER
*************************************************/

nav.header {
    text-align: right;
    padding: 17px 28px 15px 15px;
}

.main-footer li,
nav.header li {
    display: inline-block;
}

nav.header li a:link,
nav.header li a:visited {
    color: #353535;
    padding: 5px;
}

nav.header li a:hover,
nav.header li a:focus {
    text-decoration: underline;
    color: #666;
}

nav.header li a.btn-blue:link,
nav.header li a.btn-blue:visited {
    padding: 7px 13px;
    color: #FFF;
    font-weight: bold;
    border-radius: 3px;
}

nav.header li a.btn-blue:hover,
nav.header li a.btn-blue:focus {
    cursor: default;
    text-decoration: none;
    border: solid 1px #CCC;
}

nav.header li a.btn-blue:active {
    background: #478FEE;
}

/*************************************************
                    Container
*************************************************/

.container {
    width: 530px;
    margin: 95px auto;
    text-align: center;
}

.logo h1 {
    width: 270px;
    margin: 0 auto;
}

.logo-text {
    display: none;
}

input[type="text"] {
    width: 450px;
    border: solid 1px #DDD;
    padding: 15px;
    border-radius: 50px;
    margin: 20px auto 40px;
}

input[type="text"]:focus,
input[type="text"]:active {
    outline: none;
}

.additional-links {
    margin-top: 40px;
}


.additional-links a {
    padding: 3.5px;
}

.additional-links a:link,
.additional-links a:visited {
    color: #1A0DAB;
}

.additional-links a:hover {
    text-decoration: underline;
}

/*************************************************
                    FOOTER
*************************************************/
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.main-footer a {
    margin-right: 23px;
}

.main-footer a:link,
.main-footer a:visited {
    color: #555;
}

footer section {
    background: #EEE;
    padding: 13px 30px;
    border-top: solid 1px #DDD;
}

.country-name {
    font-size: 15px;
    color: #999;
    font-weight: 300;
}
